<div class="container pb-lg-5 pb-md-4 pb-2">
  <h5 class="sub-title text-center">Nuestros libros digitales</h5>
  <h3 class="title-style text-center">Libros populares</h3>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 item mt-5">
      <div class="card h-100">
        <div class="card-header p-0 position-relative">
          <a href="classes.html" class="zoom d-block">
            <img
              class="card-img-bottom d-block"
              src="./assets/img/ebooks/eb1.jpg"
              alt="Card image cap" />
          </a>
          <div class="post-pos">
            <li class="nut-deportiva blue">Nut. Deportiva</li>
            <li class="new yellow ml-2">New</li>
          </div>
        </div>
        <div class="card-body course-details">
          <div
            class="price-review d-flex justify-content-between mb-1align-items-center">
            <p>S/15.00</p>
            <ul class="rating-star">
              <li><span class="fas fa-star"></span></li>
              <li><span class="fas fa-star"></span></li>
              <li><span class="fas fa-star"></span></li>
              <li><span class="fas fa-star"></span></li>
              <li><span class="fas fa-star"></span></li>
            </ul>
          </div>
          <a href="classes.html" class="course-desc">
            Cómo la nutrición puede mejorar tu rendimiento deportivo
          </a>
          <div class="course-meta mt-4">
            <div class="meta-item course-lesson">
              <span class="fas fa-book"></span>
              <span class="meta-value"> 68 Libros Comprados</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 item mt-5">
      <div class="card h-100">
        <div class="card-header p-0 position-relative">
          <a href="classes.html" class="zoom d-block">
            <img
              class="card-img-bottom d-block"
              src="./assets/img/ebooks/eb2.jpg"
              alt="Card image cap" />
          </a>
          <div class="post-pos">
            <li class="dieta blue">Dieta</li>
            <li class="life-style yellow ml-2">Estilo de vida</li>
          </div>
        </div>
        <div class="card-body course-details">
          <div
            class="price-review d-flex justify-content-between mb-1align-items-center">
            <p>S/10.00</p>
            <ul class="rating-star">
              <li><span class="fas fa-star"></span></li>
              <li><span class="fas fa-star"></span></li>
              <li><span class="fas fa-star"></span></li>
              <li><span class="fas fa-star"></span></li>
              <li><span class="far fa-star"></span></li>
            </ul>
          </div>
          <a href="classes.html" class="course-desc">
            Cómo la nutrición puede mejorar tu autoestima y bienestar
          </a>
          <div class="course-meta mt-4">
            <div class="meta-item course-lesson">
              <span class="fas fa-book"></span>
              <span class="meta-value"> 44 Libros Comprados</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 item mt-5">
      <div class="card h-100">
        <div class="card-header p-0 position-relative">
          <a href="classes.html" class="zoom d-block">
            <img
              class="card-img-bottom d-block"
              src="./assets/img/ebooks/eb4.jpg"
              alt="Card image cap" />
          </a>
          <div class="post-pos">
            <li class="psiconutricion blue">Psiconutrición</li>
            <li class="dieta ml-2">Dieta</li>
          </div>
        </div>
        <div class="card-body course-details">
          <div
            class="price-review d-flex justify-content-between mb-1align-items-center">
            <p>S/10.00</p>
            <ul class="rating-star">
              <li><span class="fas fa-star"></span></li>
              <li><span class="fas fa-star"></span></li>
              <li><span class="fas fa-star"></span></li>
              <li><span class="fas fa-star"></span></li>
              <li><span class="fas fa-star"></span></li>
            </ul>
          </div>
          <a href="classes.html" class="course-desc">
            Aprende a tener una relación saludable con la comida
          </a>
          <div class="course-meta mt-4">
            <div class="meta-item course-lesson">
              <span class="fas fa-book"></span>
              <span class="meta-value"> 74 Libros Comprados</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 mx-auto text-more text-center pt-lg-4">
      <a href="./ebooks.html" class="btn btn-style">Ver todos los libros</a>
    </div>
  </div>
</div>
