<div class="container pb-lg-5 pb-md-4 pb-2">
  <h5 class="sub-title text-center">Equipo de profesionales</h5>
  <h3 class="title-style text-center">Nuestros mejores nutricionistas</h3>
  <div class="row cards justify-content-center">
    <div class="col-lg-4 col-md-6 mt-5">
      <a href="#img" class="card">
        <img
          src="./assets/img/nutricionistas/nut1.jpg"
          class="card__image radius-image"
          alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <div class="card__header-text">
              <h3 class="card__title">Yvonne Gutiérrez</h3>
              <span class="card__status">Nutricionista</span>
            </div>
          </div>
          <p class="card__description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh.
          </p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 mt-5">
      <a href="#img" class="card">
        <img
          src="./assets/img/nutricionistas/nut2.jpg"
          class="card__image radius-image"
          alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <div class="card__header-text">
              <h3 class="card__title">José Morales</h3>
              <span class="card__status">Nutricionista</span>
            </div>
          </div>
          <p class="card__description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh.
          </p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 mt-5">
      <a href="#img" class="card">
        <img
          src="./assets/img/nutricionistas/nut3.jpg"
          class="card__image radius-image"
          alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <div class="card__header-text">
              <h3 class="card__title">Ysabel Rios</h3>
              <span class="card__status">Nutricionista</span>
            </div>
          </div>
          <p class="card__description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
