<div class="banner-content">
  <div
    id="demo-1"
    data-zs-src='["./assets/img/banner1.jpg", "./assets/img/banner2.jpg","./assets/img/banner3.jpg", "./assets/img/banner4.jpg"]'
    data-zs-overlay="plain">
    <div class="demo-inner-content text-center">
      <div class="container">
        <div class="banner-info">
          <h5>Alimenta tu bienestar</h5>
          <h3 class="mt-2 mb-5">Nutrición para una vida más feliz</h3>
          <p>Te ayudamos a conseguir un estilo de vida más saludable</p>
          <a href="./evaluacion.html" class="btn btn-style mt-4">Evaluación gratis</a>
        </div>
      </div>
    </div>
  </div>
</div>
